<template>
  <div class="VueToNuxtLogo1">
    <div>
      <h2>Who Am I?</h2> <br> 
  <b-img src="https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.0-9/54518218_412258716197521_3148131154461196288_o.jpg?_nc_cat=108&_nc_eui2=AeHVU2Akk8x2nLQhBkw1pSXNF61-t1XlovIUqPSiYxe0p1wJoUSyIMTYv4i-Yn2R1bwSmgqvDYtZsPem864OEjBVb7RMJMqQzlYUAWX_DcXg4w&_nc_oc=AQnceDJyoZn5xcWirlyet0V3oUlTBy7sq0cWOLmAx2_8Etd0NqC-ugvPgtYpSRvLWayygT-faoNviLz0X1vk_nfs&_nc_ht=scontent.fbkk13-1.fna&oh=421bdd38bae6d5eed46446b6867ba19f&oe=5E381AA3" fluid alt="Fluid image"></b-img>
</div>

  </div>
  
</template>

<style>
.VueToNuxtLogo1 {
  display: inline-block;
  animation: turn 2s linear forwards 1s;
  transform: rotateX(360deg);
  position: relative;
  overflow: hidden;
  height: 320px;
  width: 400px;
}
.Triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.Triangle--one {
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 180px solid #41b883;
}

.Triangle--two {
  top: 30px;
  left: 35px;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 87.5px solid transparent;
  border-right: 87.5px solid transparent;
  border-bottom: 150px solid #3b8070;
}

.Triangle--three {
  top: 60px;
  left: 35px;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 120px solid #35495e;
}

.Triangle--four {
  top: 120px;
  left: 70px;
  animation: godown 0.5s linear forwards 3s;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid #fff;
}

@keyframes turn {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes godown {
  100% {
    top: 180px;
  }
}

@keyframes goright {
  100% {
    left: 70px;
  }
}
</style>