<template>
  <div class="VueToNuxtLogo">
    <div>
  <b-img center src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/69991663_510613769695348_2592750449538891776_n.jpg?_nc_cat=102&_nc_eui2=AeGS6Tnd0Fy28fLRj2AoS0FbDm7LQ7jZbZbJpTR3wHKaxoGXjqwrVXUeGJq1Ag3K2Bud1JyVrYTBwnen2Ghq_D3VPFzoqKp0SJjb6N3IZIfefw&_nc_oc=AQk7GSqjK1l4cEIOWkXzxUGBaRQUpddOlyMX2otfpAYNcYh-2iADjiLVfNZ_FXg8IkRvGaL-3BMAH-FYTKXUbd6f&_nc_ht=scontent.fbkk12-3.fna&oh=29a4e850bef00bcbfbfa1df3f9bff490&oe=5E30F30B" alt="Center image"></b-img>
</div>
  </div>
</template>

<style>
.VueToNuxtLogo {
  display: inline-block;
  /* animation: turn 2s linear forwards 1s; */
  /* transform: rotateX(180deg); */
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 700px;
}

/* .Triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.Triangle--one {
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 180px solid #41b883;
}

.Triangle--two {
  top: 30px;
  left: 35px;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 87.5px solid transparent;
  border-right: 87.5px solid transparent;
  border-bottom: 150px solid #3b8070;
}

.Triangle--three {
  top: 60px;
  left: 35px;
  animation: goright 0.5s linear forwards 3.5s;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 120px solid #35495e;
}

.Triangle--four {
  top: 120px;
  left: 70px;
  animation: godown 0.5s linear forwards 3s;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid #fff;
}

@keyframes turn {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes godown {
  100% {
    top: 180px;
  }
}

@keyframes goright {
  100% {
    left: 70px;
  }
} */
</style>
