<template>
  <div class="container">
    <div>
      <logo />
    
      <h2 class="subtitle">
        RATCHANEEKORN  RUNGWILAIRATTHANA
      </h2>
      <body>
      <h3>
       BIOGRAPHY
      </h3>
      
      <div class="collapes">
        <b-button v-b-toggle.collapse-1>PERSONAL DATA</b-button>
        <b-collapse id="collapse-1" class="mt-2">
          <b-card>
            <div>
              <h6>STUDENT ID : 6031305028</h6>
              <h6>NAME-SURNAME THAI : นางสาว รัชนีกร  รุ่งวิไลรัตนะ </h6>
              <h6>NAME-SURNAME ENG : MISS RATCHANEEKORN  RUNGWILAIRATTHANA </h6>
              <h6>IDENTIFICATION NO : 1489900316007</h6>
              <h6>BIRTHDATE : 22/07/1998 (2541)</h6>
              <h6>PROVINCE OF BIRTH/COUNTRY OF ISSUE : NAKHON PHANOM </h6>
              <h6>BLOOD TYPE : B</h6>
              <h6>ETHNICITY : THAI</h6>
              <h6>NATIONALITY : THAI</h6>
              <h6>RELIGION : 	BUDDHISM </h6>
            </div>
          </b-card>
        </b-collapse>
      </div>
      <div class="collapes">
        <b-button v-b-toggle.collapse-2>PERMANENT ADDRESS</b-button>
        <b-collapse id="collapse-2" class="mt-2">
          <b-card>
            <div>
              <h6>VILLAGE : BAN THA LAD</h6>
              <h6>NO. : 15</h6>
              <h6>MOO : 9	</h6>
              <h6>SUBDISTRICT : BAN PHAENG</h6>
              <h6>DISTRICT : BAN PHAENG</h6>
              <h6>PROVINCE : NAKHON PHANOM </h6>
              <h6>POST CODE : 48140</h6>
              <h6>MOBILE PHONE : 0902310832</h6>
              <h6>EMAIL ADDRESS: Rungwilairatthanakul@gmail.com</h6>
            </div>
          </b-card>
        </b-collapse>
      </div>

      <div class="collapes">
        <b-button v-b-toggle.collapse-3>EDUCATION INFORMATION</b-button>
        <b-collapse id="collapse-3" class="mt-2">
          <b-card>
            <div>
              <h6>GRADUATE FROM : SOMDEJPHRAPIYAMAHARAJROMMANEEYAKHET</h6>
              <h6>PROVINCE/COUNTRY : 	KANCHANABURI </h6>
              <h6>DATE GRADUATED : 31/03/2560</h6>
              <h6>CUMULATIVE GPAX : 3.33</h6>
            </div>
          </b-card>
        </b-collapse>
      </div>
      <div class="collapes">
        <b-button v-b-toggle.collapse-4>OTHER INFORMATION</b-button>
        <b-collapse id="collapse-4" class="mt-2">
          <b-card>
            <div>
              <h6>ADMISSION PROCEDURE : DIRECT ADMISSION BY SCHOOL </h6>
              <h6>ACADEMIC YEAR ADMITTED : 2017/1 DATE 14/8/2017 </h6>
              <h6>SCHOOL : SCHOOL OF INFORMATION TECHNOLOGY</h6>
              <h6>PROGRAM : 593130500 BACHELOR OF SCIENCE PROGRAM IN SOFTWARE ENGINEERING</h6>
              <h6>LEVEL : UNDERGRADUATE</h6>
              <h6>DEGREE NAME : BACHELOR OF SCIENCE PROGRAM IN SOFTWARE ENGINEERING </h6>
              <h6>STATUS : STUDENT CURRENT </h6>
              <h6>ADVISOR : ARJAN VITTAYASAK RUJIVORAKUL</h6>
            </div>
          </b-card>
        </b-collapse>
      </div>
      </body>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Image.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>
.container {
  margin-bottom: 20 rem;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
  margin-top: 15px;
}
.collapes {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  /* padding-bottom: 15px;  */
}

.links {
  padding-top: 15px;
}
</style>
